:root {

    --navbar-link: #8b351b;
    --navbar-link-hover: #14ac53;
    --navbar-link-active: #8b351b;
    --navbar-link-focus: #8b351b;
    --promo-background: #42a5f5;
}


/*      Navbar       */
#mainNav .navbar-nav
{
    padding-right: 4rem;
}

#mainNav .navbar-brand{
    padding-left: 4rem;
    font-size: 1.5rem;
}

#mainNav li.nav-item{
    color: var(---navbar-link);
    padding-right: 3rem;
}

#mainNav .nav-link:hover{
    color: var(--navbar-link-hover);
}

#mainNav .nav-link:focus{
    color: var(--navbar-link-focus);
}

.navbar-nav > .nav-item > .active > .nav-link{
    color: var(--navbar-link-active);
}

/*      Container       */
#landingContainer{
    padding-top: 4rem;
}

#bold-headline{
    font-weight: 700;
    font-size: 3.2rem;
}

/*      Promo       */
#promo{
    background-color: var(--promo-background);
}

.promo-image{
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

.promo-text{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px;
}

.promo-undertext{
    font-size: 0.85rem;
    font-weight: 300;
}